@use "abstracts/functions" as func;
@use "abstracts/mixins" as mix;
@use "abstracts/variables" as var;

@use "base/animations";
@use "base/base";
@use "base/typography";
@use "base/utilities";

@use "layout/grid" as grid;

@use "components/button";

.grid-test {
  color: var.$color-white;
  font-size: 1.125rem;

  & [class^="col-"] {
	padding: 2rem;
	background-color: var.$color-orangered;
  }

  & .row {
	background-color: #eee;
  }
}
