@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.btn {
  &,
  &:link,
  &:visited {
	border: none;
	border-radius: 10rem;
	cursor: pointer;
	display: inline-block;
	font-size: var.$default-font-size;
	padding: 1.5rem 4rem;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.2s;
  }

  &:hover {
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
	transform: translateY(-3px);

	&::after {
	  opacity: 0;
	  transform: scaleX(1.4) scaleY(1.6);
	}
  }

  &:active,
  &:focus {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
	outline: none;
	transform: translateY(-1px);
  }

  &--white {
	background-color: var.$color-white;
	color: var.$color-grey-dark;

	&::after {
	  background-color: var.$color-white;
	}
  }

  &--green {
	background-color: #55c57a;
	color: var.$color-white;

	&::after {
	  background-color: #55c57a;
	}
  }

  &::after {
	border-radius: 10rem;
	content: "";
	display: inline-block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transition: all 0.4s;
	width: 100%;
	z-index: -1;
  }

  &--animated {
	animation: moveInBottom 0.5s ease-out 0.75s;
	animation-fill-mode: backwards;
  }

  &-text:link,
  &-text:visited {
	border-bottom: 1px solid var.$color-primary;
	color: var.$color-primary;
	display: inline-block;
	font-size: var.$default-font-size;
	padding: 0.1875rem;
	text-decoration: none;
	transition: all 0.2s;
	@include mix.padding-x(1);
  }

  &-text:hover {
	background-color: var.$color-primary;
	box-shadow: 0 1rem 2rem rgba(var.$color-black, 0.15);
	color: var.$color-white;
	transform: translateY(-2px);
  }

  &-text:active {
	box-shadow: 0 0.5rem 1rem rgba(var.$color-black, 0.15);
	transform: translateY(0);
  }
}
