@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.row {
  background-color: #eee;
  margin: 0 auto;
  max-width: var.$grid-width;

  &:not(:last-child) {
	margin-bottom: var.$gutter-vertical;
  }

  @include mix.clearfix;

  & [class^=col-] {
    background-color: var.$color-orangered;
  }

  .col-1-of-2 {
    float: left;
    width: calc((100% - #{var.$gutter-horizontal}) / 2);

    &:not(:last-child) {
      margin-right: var.$gutter-horizontal;
    }

    .col-1-of-3 {
      width: calc((100% - 2 * #{var.$gutter-horizontal}) / 3);
    }

  }

}